/anaconda-mode/*
/auto-save-list/*
/backups/*
/elpa/*
/straight/*
/.cache/
/amx-items
/recentf
/server/
/transient/
/*.eld
/*.cache
/straight/*
/games/
/session.1052b5f29fa4ed91e8160193238866606600000014150071
/recentf~
/#recentf#
/.lsp-session-v1
